/* the overlayed element */
.apple_overlay,.apple_overlay-email,.mini {	
	/* initially overlay is hidden */
	display:none;	
	/* growing background image */
	background-image:url(../images/overlay/white.png);	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	/*min-width:640px;		
	max-width:700px;*/
	width:550px;
	/*min-height:300px;*/
	/* some padding to layout nested elements nicely  */
	padding:20px;
	background:#fff;
		
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	
	border:0px solid;
	
	-moz-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
	box-shadow:0px 0px 10px #333;
	/* a little styling */	
	font-size:12px;
}
.apple_overlay-email{
width:700px;
}
.mini{
width:220px;
}
/* default close button positioned on upper right corner */
.apple_overlay .close,.apple_overlay-email .close,.mini .close {
	background-image:url(../images/overlay/close.png);
	position:absolute; right:-15px; top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
